.hw {
    padding-bottom: 48px;
    margin-bottom: 100px;
}

.tech {
    width: 50%;
}

.developer {
    width: 50%;
    text-transform: capitalize;
}

.techHeader {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 14px;
    text-transform: capitalize;
    width: 50%;
    display: flex;
    gap: 5px;

    span {
        display: flex;
        align-items: center;
        cursor: pointer;
    }
}

.developerHeader {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 14px;
    text-transform: capitalize;
    width: 50%;
    display: flex;
    gap: 5px;

    span {
        display: flex;
        align-items: center;
        cursor: pointer;
    }
}

.row {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #000;
    padding: 12px 16px;
    display: flex;
    max-width: 606px;
    border-bottom: 1px solid #ccc;
}

.row:last-of-type {
    border-bottom: none;
}

.rowHeader {
    display: flex;
    max-width: 606px;
    padding: 10px 16px;
    background-color: #C5C5C6;
    margin-top: 36px;
}

.loading {

}