.item {
    border-bottom: 1px solid #ccc;
}

.item:last-of-type {
    border-bottom: none;
}

.users {
    width: 100%;
    border-collapse: collapse;
    margin-top: 18px;
    table-layout: fixed;
}

.buttonsContainer {
    display: flex;
    gap: 12px;
    white-space: nowrap;
    max-width: 382px;
    margin-left: auto;

    button {
        width: unset;
    }
}

.container {
    max-width: 610px;
    min-height: 390px;
    padding-bottom: 20px;
}

.thead {
    background-color: #c4c4c4;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 14px;
}

.nameCol {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 14px;
}

.nameCol.first {
    font-weight: 600;
}

.ageCol {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14px;
}

.nameCol, .ageCol {
    padding: 12px;
    text-align: left;
    width: 50%;
}